<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>WallStreetBeggars</title>

    <!-- import the webpage's stylesheet -->

    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <h1>Wall Street Beggars</h1>

    <p>Top Indexes</p>
    {% for i in ind %}
    <tr>
      <img
        src="{{url_for('send_image', filename = i)}}"
        height="450"
        width="460"
      />
    </tr>
    {% endfor %}

    <p>Top Gainers</p>
    {% for g in ga%}
    <tr>
      <img
        src="{{url_for('send_image',filename = g)}}"
        height="450"
        width="460"
      />
    </tr>
    {% endfor %}
    <p>Top Losers</p>
    {% for l in losers%}
    <tr>
      <img
        src="{{url_for('send_image',filename = l)}}"
        height="450"
        width="460"
      />
    </tr>
    {% endfor %}
  </body>
</html>
